.TextInput-wrapper {
	--red: rgb(225, 70, 78);
	--grey: rgb(177, 177, 177);
	--borderRadius: 5px;
	--black2: rgb(3, 3, 3);

	position: relative;
	align-items: center;
	width: 100%;
}

.TextInput-wrapper .TextInput-toggleBtn {
	position: absolute;
	right: 0;
	top: calc(50% - 18px);
	width: 36px;
	height: 36px;
	padding: 0;
	border: 0;
	background: transparent;
	color: black;
	outline: 0 !important;
}

.TextInput-toggleBtn svg {
	width: 36px;
	height: 36px;
}

.TextInput {
	background-color: transparent;
	border-radius: var(--borderRadius);
	border: 1px solid grey;
	color: black;
	line-height: 38px;
	padding: 0 10px;
	transition: border-color .2s linear;
	width: 100%;
	height: 40px;
	font-size: 14px;
}

.TextInput::-ms-clear,
.TextInput::-ms-reveal {
	display: none;
}

.TextInput::-webkit-contacts-auto-fill-button,
.TextInput::-webkit-credentials-auto-fill-button {
	visibility: hidden;
	display: none !important;
	pointer-events: none;
	position: absolute;
	right: 0;
}

.TextInput::-webkit-input-placeholder {
	font-size: 14px;
	color: black;
	opacity: .75;
}

.TextInput-desktopError {
	position: absolute;
	top: 5px;
	right: -40px;
}

.TextInput-mobileError {
	color: black;
	display: none;
	font-size: 11px;
	left: 0;
	position: absolute;
	top: 40px;
}

@media (max-width: 768px) {
	.TextInput-mobileError {
		display: inline-block;
	}

	.TextInput-desktopError {
		display: none;
	}

	.CheckboxInput-wrapper .TextInput-errorText .TextInput-mobileError {
		bottom: -10px;
		top: unset;
	}
}
